@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 80%;
  }
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 80%;
  }
}
body {
  background-image: url("../image/background.jpg");
  background-position: 0px 0px;
  -webkit-animation: animatedBackground 35s linear infinite;
          animation: animatedBackground 35s linear infinite;
}
@media (max-width: 767px) {
  body {
    -webkit-animation: none;
            animation: none;
    background-attachment: fixed;
  }
}
.row {
  margin: 0 auto;
  max-width: 1200px;
}
header {
  padding: 45px 0;
  background-color: rgba(253, 251, 239, 0.5);
}
header h1 {
  text-align: center;
  color: #222222;
  text-shadow: 1px 1px 2px #222222;
}
@media (max-width: 420px) {
  header h1 {
    font-size: 30px;
  }
}
.questionBox {
  padding: 45px 0;
  background-color: rgba(34, 34, 34, 0.5);
}
.questionBox input {
  padding: 0 15px;
  color: #222;
  text-align: center;
  height: 50px;
  width: 100%;
}
.questionBox .nice-select {
  width: 100%;
  height: 50px;
  border-radius: 0px;
  border: none;
  text-align: center !important;
  line-height: 50px;
  font-size: 20px;
}
.questionBox .nice-select .list {
  width: 100%;
}
.questionBox .nice-select .list .option {
  text-align: center;
}
.questionBox .nice-select:after {
  height: 10px;
  width: 10px;
  border-bottom: 2px solid #8f8f8b;
  border-right: 2px solid #8e8e89;
}
input.sendBtn {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 0;
  height: 40px;
  display: block;
  background-color: #fdfbef;
  border: none;
  font-weight: bold;
  color: #949494;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.empty {
  border: 3px solid rgba(255, 0, 0, 0.6);
}
.questionFields {
  text-align: center;
}
.questionFields h3 {
  color: #fdfbef;
}
.questionFields h3 i {
  color: #fdfbef;
  padding-right: 5px;
  font-size: 25px;
  position: relative;
  top: -3px;
}
@media (max-width: 991px) {
  .questionFields {
    padding-top: 25px;
  }
}
.response {
  text-align: center;
  margin-top: 65px;
  padding: 45px 0;
  background-color: rgba(34, 34, 34, 0.5);
}
.response .table-container {
  padding: 0px;
}
.response h3 {
  color: #949494;
  background-color: #fdfbef;
  line-height: 40px;
  margin-bottom: 25px;
}
.response h3 i {
  padding-right: 5px;
  font-size: 25px;
  position: relative;
  top: -3px;
}
.response p {
  background-color: #fcfbf1;
  color: #949494;
  border-right: 1px solid #8f8f8a;
  border-bottom: 1px solid #8f8f8a;
  border-left: 1px solid #8f8f8a;
  margin: 0;
}
.response p.colorOff {
  background-color: transparent;
  color: #fff;
}
.response p.colorOn {
  background-color: #fcfbf1;
  color: #949494;
}
.response .coststype p {
  border-right: none;
}
.response .reFirst p {
  border-right: none;
}
.response .reSecond form {
  border-right: 1px solid transparent;
}
.response .reThird form {
  border-right: 1px solid transparent;
}
.response .reThird p {
  border-left: none;
}
.response .tableModForm {
  display: none;
}
.response .tableModForm.show {
  display: block;
}
.response .row-modification i {
  position: absolute;
  cursor: pointer;
  right: 0;
  font-size: 18px;
  margin-right: 25px;
  margin-top: 17px;
}
.response .modtype {
  border-left: 1px solid transparent;
}
.response .nice-select {
  border-radius: 0;
  width: 70%;
  height: 30px;
  line-height: 30px;
  text-align: center !important;
}
.response .nice-select .list {
  width: 100%;
}
.response .nice-select .list li {
  text-align: center;
}
.response .tablemodInput {
  max-width: 70%;
  width: 100%;
  float: left;
  text-align: center;
}
.response .tableModBtn {
  cursor: pointer;
  font-weight: bold;
  color: #949494;
  text-transform: uppercase;
  height: 30px;
  max-width: 30%;
  width: 100%;
  font-size: 12px;
  float: left;
  background-color: #fdfbef;
  border: none;
  border-bottom: 1px solid #949494;
}
.final-border-box {
  border: 2px solid #fcfbf1;
  border-radius: 0px 0px 5px 5px;
  -webkit-box-shadow: 2px 3px 10px #464646;
          box-shadow: 2px 3px 10px #464646;
  margin-top: 25px;
}
.final-border-box p:nth-child(even) {
  background-color: transparent;
  color: #fff;
}
.final-border-box .detailsBtn {
  width: 100%;
  max-width: 100%;
  margin: 0;
  border-top: 3px solid #949494;
}
p.final-border {
  border: none;
}
.canvasjs-chart-credit {
  display: none !important;
}
.total-cash {
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 2;
}
.total-cash .left-box-btn {
  position: relative;
  cursor: pointer;
  width: 160px;
  margin-bottom: 10px;
  font-size: 25px;
  border-top: none;
  color: #8ce469;
  background-color: rgba(148, 148, 148, 0.75);
  padding: 2px 0px;
}
.total-cash .left-box-btn .next-money {
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}
.total-cash .left-box-btn .next-money.orange {
  color: #ffe687;
}
.total-cash .left-box-btn .next-money.red {
  color: #e42727;
}
.total-cash .left-box-btn:before {
  content: "\A";
  border-style: solid;
  border-width: 43px 17px 0px 0;
  border-color: rgba(148, 148, 148, 0.75) transparent transparent transparent;
  position: absolute;
  right: -17px;
  top: -2px;
}
.total-cash .fix-hide {
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 10px 5px 10px;
  border: 1px solid white;
  border-left: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.total-cash .fix-hide.show {
  visibility: visible;
  opacity: 1;
  z-index: 2;
  -webkit-transition: visibility 0s, opacity 1s;
  transition: visibility 0s, opacity 1s;
}
.total-cash form input {
  display: block;
  padding: 0 15px;
  color: #222;
  text-align: center;
  height: 50px;
  border: none;
  width: 100%;
}
.total-cash form .totalSendBtn {
  margin-top: 10px;
  height: 40px;
  background-color: #fdfbef;
  border: none;
  font-weight: bold;
  color: #949494;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.total-cash .count {
  margin-top: 10px;
}
.total-cash .count span {
  color: #fff;
  font-size: 25px;
  padding: 5px 10px;
}
.total-cash .count span i {
  color: #8ce469;
  padding-right: 12px;
}
.total-cash .count span i.fa-wrench {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  padding-left: 10px;
  margin-top: 9px;
  font-size: 20px;
  color: #fff;
}
.total-cash .count span .totalCashMod.show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.total-cash .totalModForm {
  margin-top: 10px;
  margin-bottom: 5px;
  display: none;
}
.total-cash .totalModForm.show {
  display: block;
}
/*Remodal popup*/
.remodal .nav-tabs .nav-item {
  margin: -1px auto;
}
.remodal .nav-tabs .nav-link {
  color: #000;
}
.remodal .tab-content {
  margin-top: 30px;
  margin-bottom: 30px;
}
.remodal .tab-content .lists:nth-child(odd) {
  background-color: #81c784;
  color: #fff;
}
.remodal .tab-content .lists .col-sm-3 {
  border-right: 1px solid #efefef;
}
.remodal .tab-content .lists .col-sm-3:last-child {
  border-right: none;
}
.remodal .tab-content .lists p {
  margin: 2px;
}
.remodal .tab-content .typeAll {
  margin-top: 30px;
}
